body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex-grow: 1;
    padding-bottom: 3em;
}

.my-footer {
    background-color: #163b65;
    margin-top: auto;
    padding: 2em 1em;
    color: white;
    font-size: 85%;
}

.room-image {
    max-width: 50%;
}

.notie-container {
    box-shadow: none;
}

.datepicker {
    z-index: 10000;
}

.carousel-item img {
    height: 50vh;
    min-height: 300px;
    max-height: 500px;
    object-fit: cover;
}